.mid-label {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.d-textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
  }

.image-upload{
    width:100%;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    background-color:#f1f1f1;
}