.mid-label {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.d-textarea {
    resize: vertical; /* user can resize vertically, but width is fixed */
  }

.image-upload{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#f1f1f1;
}

.ferror {
    border-color: red !important;
    box-shadow : inset 0 1px 1px rgba(0,0,0,.075);
}

.no_padding {
    padding : 0px 0px;
}

.pd-less {
    padding: 5px 10px !important;
}

.pd-less-sm {
    padding: 0px 2px !important;
}

.dt-bt {
    align-items: center;
}

.mb-1 {
    margin-bottom: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.mb-4 {
    margin-bottom: 4em;
}

.mb-5 {
    margin-bottom: 5em;
}

.img_pr {
    width: 100%;
    max-width: 100%
}

.trans_form {
    display: inline;
    width: 100%;
}

.trans_input {
    width: 100%;
    text-align: right;
}
.po-head {
    margin-bottom: 0px;
    font-weight:bold
}